/* NAVBAR */
.navbar {
  background: rgba(255, 255, 255, 0.804);
  backdrop-filter: blur(12px);
  padding: 1rem;
  display: flex;
  width: 100%;
  height: 80px;
  /* Default 80px */
  position: fixed;
  transition: 0.5s;
  z-index: 998;
  border-radius: 0 0 0.75rem 0.75rem;

  & .logo {
    width: 3rem;
    position: relative;
    top: 0;
    transition: .2s;
  }

  & .nav-item {
    position: relative;
    z-index: 1;
    padding-top: .5rem;

    &.active {

      &::before {
        content: "";
        position: absolute;
        width: 110%;
        height: 200%;
        padding: 3rem;
        padding-bottom: 1rem;
        background: var(--main-light-color);
        z-index: -1;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 50%;
        border-radius: 0 0 1rem 1rem;
        /* opacity: 1; */
      }

      &:hover::before {
        content: "";
        position: absolute;
        padding: 3rem;
        padding-bottom: 1rem;
        background: rgb(227, 242, 255);
        z-index: -1;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 50%;
        border-radius: 0 0 1rem 1rem;
        /* opacity: 1; */
      }

    }
  }

  & .navbar-brand {
    position: absolute;
  }

  & a {
    text-decoration: none;
    color: #000;
  }

  & ul {
    display: flex;
    gap: 2rem;
    list-style-type: none;
    position: absolute;
    right: 2rem;
    top: 1rem;

    &.dropdown {
      position: absolute;
      display: block;
      padding: 1rem;
      background: rgba(255, 255, 255, 0.907);
      backdrop-filter: blur(12px);
      border-radius: 1rem;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
      opacity: 0;
      visibility: hidden;
      transition: 0.2s;
      overflow: hidden;
      width: 20rem;
      left: -20px;
      top: 2.25rem;

      & .menu-main-name {
        padding: 1rem;
        position: relative;
        width: fit-content;

        &::before {
          content: "";
          position: absolute;
          width: 40%;
          height: 3px;
          background: var(--accent-highlight-color);
          bottom: .5rem;
        }
      }
    }
  }

  & li {

    

      & .nav-link:hover  {
        transition: .2s;
        color: var(--main-highlight-color);
      }

      & .nav-link:active  {
        transition: .2s;
        color: var(--accent-highlight-color);
      }

    &.nav-item {

      &.dropdown {
        position: relative;
        z-index: 999;

        &:hover ul.dropdown {
          opacity: 1;
          visibility: visible;
          left: 0px;
        }
      }

      

      &::before {
        transition: 0.2s;
      }

      /* &:hover::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        padding-left: 1rem;
        background: rgb(203, 232, 255);
        z-index: -1;
        left: 50%;
        top: 20px;
        transform: translate(-50%, -50%);
        transition: 0.2s;

      }

      &:active:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        padding-left: 1rem;
        background: var(--accent-bg-color);
        z-index: -1;
        left: 50%;
        top: 20px;
        transform: translate(-50%, -50%);
        transition: 0.2s;

      } */



    }

    & .dropdown-item {
      display: block;
      padding: .5rem;
      border-radius: .5rem;
      transition: .2s;

      &:hover {
        background: rgb(236, 236, 236);
      }
      

      &.active {
        position: relative;
        
        &::before {
          position: absolute;
          content: "";
          width: 100%;
          height: 100%;
          background: var(--accent-highlight-color);
          z-index: -2;
          top: 0;
          left: 0;
          border-radius: .45rem;
          opacity: .5;
          backdrop-filter: blur(2px);
          box-shadow: 0 2px 18px var(--accent-highlight-color);
        }

        &:hover::before {
          background: var(--accent-highlight-color);
          z-index: 0;
        }
      }

    }

  }


  & .nav-toggle {
    background: rgb(179, 221, 255);
    padding: .5rem;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 1rem;
    transition: .2s;
    cursor: pointer;
    visibility: visible;
    opacity: 1;

    &:hover {
      transform: translateY(-50%) scale(1.2);
    }

    &:active {
      transform: translateY(-50%) scale(1);
    }

    @media screen and (min-width: 1160px) {
      visibility: hidden;
      opacity: 0;
    }
  }

}

/* .navbar.transparent {
  background: transparent;
  backdrop-filter: blur(0px);
} */

/* .navbar li.nav-item:hover::before {
  opacity: 1;
} */

.nav-menu {
  visibility: visible;
  opacity: 1;
  transition: .2s;
  display: contents;

  @media screen and (max-width: 1160px) {
    visibility: hidden;
    opacity: 0;
    display: none !important;
  }
}





/* When scroll down */
.mini.navbar ul.nav-menu {
  top: .5rem;
}

.mini.navbar {
  height: 50px;
}

.span1 {
  /* font-size: 1.125rem; */
  transition: .2s;
  position: relative;
  top: 0;

}

.span2 {
  opacity: 1;
  /* font-size: .75rem; */
  transition: .2s;
  position: relative;
  top: -2px;
}

.mini .span1 {
  top: -4px;
}

.mini .span2 {
  opacity: 0;
  top: -30px;
}

.mini .logo {
  top: -15px;
}