@font-face {
  font-family: "Krub";
  src: url("../../public/fonts/Krub/Krub-Regular.ttf");
}

@font-face {
  font-family: "Chonburi";
  src: url("../../public/fonts/Chonburi/Chonburi-Regular.ttf");
}


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-highlight-color: #00a4ea;
  --accent-highlight-color: #ff50f0;
  --main-light-color: #a0e9ff;
  --accent-light-color: #ff90f6;
  --main-bg-color: #bff0ff;
  --accent-bg-color: #ffc3fa;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: "Krub", sans-serif;
  scroll-behavior: smooth;
}

.container-page {
  padding: 5rem;
}

@media screen and (max-width: 800px) {
  .container-page {
    padding: 1rem;
  }
}

h1 {
  font-size: 1.75rem;
  font-weight: bold;
  position: relative;
  width: fit-content;

  &::after {
    content: "";
    position: absolute;
    width: 40%;
    height: 5px;
    background: var(--main-highlight-color);
    bottom: -10px;
    left: 0;
  }
}

.paragraph {
  padding-left: 4rem;
}

.gallery {
  & .img {
    height: 24rem;
    border-radius: 1rem;
    overflow: hidden;
    display: grid;
    position: relative;
    top: 0;
    transition: .3s;

    & .caption {
      color: #000;
      width: 100%;
      padding: 1rem;
      position: absolute;
      bottom: -10rem;
      z-index: 0;
      transition: .2s;
    }

    & .caption:nth-child(odd) {
      background: var(--accent-bg-color);
    }
    & .caption:nth-child(even) {
      background: var(--main-bg-color);
    }

    /* & .caption::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      
      opacity: .85;
      backdrop-filter: blur(7px);
      z-index: -1;
    } */

    &:hover .caption {
      bottom: 0rem;
    }

    &:hover {
      top: -10px;
    }
  }
  & img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  
}

section.info {
  background: #fff;
  border-radius: 2rem;
}