/* FLICKY USE */

/* external css: flickity.css */

* {
    box-sizing: border-box;
}

.carousel {
    background: #000000;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    /* width: 50rem; */
    height: 40rem;

    & .description {
        background: #f7f7f793;
        position: absolute;
        z-index: 1;
        bottom: 1rem;
        backdrop-filter: blur(8px);
        left: 50%;
        transform: translateX(-50%);
        padding: 1rem;
        border-radius: 1rem;
        width: 15rem;
        text-align: center;
        transition: .2s;
    }

    & img {
        display: block;
        object-fit:contain;
        height: 40rem;
    }
}

.carousel-cell-image {
    display: block;
    max-height: 100%;
    margin: 0 auto;
    max-width: 100%;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
            transition: opacity 0.4s;
  }
  
  /* fade in lazy loaded image */
  .carousel-cell-image.flickity-lazyloaded,
  .carousel-cell-image.flickity-lazyerror {
    opacity: 1;
  }

@media screen and (max-width: 768px) {
    .carousel img {
        /* object-fit: cover; */
    }
}