/* FLICKY USE */

/* external css: flickity.css */

* {
    box-sizing: border-box;
}

.carousel {
    background: #ffffff;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
}

.carousel .description {
    background: #f7f7f793;
    position: absolute;
    z-index: 1;
    bottom: 1rem;
    backdrop-filter: blur(8px);
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem;
    border-radius: 1rem;
}

.carousel img {
    display: block;
    object-fit:cover;
    height: 400px;
}

.carousel-cell-image {
    display: block;
    max-height: 100%;
    margin: 0 auto;
    max-width: 100%;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
            transition: opacity 0.4s;
  }
  
  /* fade in lazy loaded image */
  .carousel-cell-image.flickity-lazyloaded,
  .carousel-cell-image.flickity-lazyerror {
    opacity: 1;
  }

@media screen and (max-width: 768px) {
    .carousel img {
        object-fit: cover;
    }
}